@media screen and (max-width: 550px) {
    
    /* Menu hamburguer */

  #menu {
      z-index: 2;
    }
    
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: #227EDF;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;

  }

  .nav ul {
    padding-left: 22px;
    display: flex;
    flex-direction: column;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background-color: #227EDF;
    border-radius: 50%;
    transition: 0.3s ease;
  }

  #menu-bg { /* div do menu hamburguer */
    display: block;
  }
    
  .change {
    display: block;
    
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {   /* muda o background azul */
    width: 900px;
    height: 900px;
    transform: translate(-60%,-30%);
  }

      /* buttons do menu hamburguer */
  header .buttons {
    width: auto;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1.2rem;
    border: none; 
    padding: 0;
  }

  .button-entrar, .button-entrar:hover {
    background-color: transparent;
    transition: 0s;
  }

  main {
    width: 100%;
  }
  header {
    width: 100%;
  }

  .bolinha li a:hover::before {
    opacity: 0;
  }

  .bolinha li a:focus::before {
    opacity: 0;
  }
  
  header nav {
    gap: 1rem;
  }
  
  header nav ul a { /* largura do ul */
    width: 100%;
    padding-right: 5rem;
  }

  header ul:first-child {
    align-items: flex-start;
    gap: 1rem;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  header ul:last-child {
    gap: 2rem;
  }

  ul li .button-junte-se {
    background-color: #ffffff;
    color: black;
    padding: .5rem 2rem;
    transition: 0s;
  }

  ul li .button-junte-se:hover {
    background-color: white;
  }

  .flex {
    justify-content: center;
  }

  .style-section {
    max-width: 40rem;
    width: auto;
    height: auto;
    padding-block: 4rem;
    gap: 2rem;
  }

  .style-section div {
    display: flex;
    align-items: center;
    gap: 2rem;
      
  }
  .style-section p{
    font-size: 1.4rem;
  }

  .style-section div h1 {
    font-weight: 700;
    font-size: 2.2rem;
  }

  main .img-initial div {
    gap: 5rem;
  }

  main .img-initial h1 {
    font-size: 1.7rem;
  }

  .first-section {
    max-width: 40rem;
    width: 100%;
    height: auto;
    padding: 5rem;
  }

  .first-section .title-about {
    font-size: 2rem;
  }

  .first-section p {
    font-size: 1.4rem;
  }

  .container-section h1 {
    font-size: 3.4rem;
  }

  .container-section .second-section {
    margin: 0rem;
  }

  .container-section .third-section {
    margin: 0rem;
  }

  div.pegadas1 {
    display: none;
  }
  /* section de noticias */
  .sec-news {
    width: 100%;
  }

  .sec-news .news {
    flex-direction: column;
  }

  .sec-news .news .cont-news {
      width: 100%;
  }

  .sec-news .news .cont-news h1 {
    font-size: 2.5rem;
  }

  .news-image-cont {
    width: 100%;
  }


  .contact .cont-contact .title h2 {
    font-size: 2.2rem;
  }

  .contact .cont-contact .title .line {
    width: 16rem;
  }

  .contact .cont-contact p {
    width: 45rem;
    padding: 5rem;
  }
}