.appContainer {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.2rem;
}

.container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
  padding: 3rem;
}

.flexRow {
  width: 100%;
  display: flex;
  gap: 16px;
}

.containerIcons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title{
  position: relative;
  display: flex;
  align-items: center;
}

.x {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: -8rem;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 500ms;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
  max-width: 10rem;
  width: 4.4rem;
  background-color: var(--gray-300);
}
.x:hover{
  background-color: #007bff;
  width: 10rem;
}

.x::after{
  position: absolute;
  content: 'Voltar';
  transform: translate(10vw);
  transition: all 500ms;
  right: 2rem;
}

.x:hover::after{
  transform: translate(0);
  color: var(--gray-50);
}

.title h1 {
  font-size: var(--3xl);
}

.icon {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-block: 1.4rem;
}

.icon h1 {
  font-size: var(--xl);
}

.icon p {
  text-align: center;
  font-size: var(--sm);
}

.icon1 {
  width: 100%;
  background-color: #35DB5A;
  border-radius: .8rem;
}

.icon2 {
  width: 100%;
  background-color: #2B92FF;
  border-radius: .8rem;
}

.icon1, .icon2{
  cursor: pointer;
  color: var(--gray-800);
}
.icon1 svg, .icon2 svg{
  fill: var(--gray-800);
}

.iconPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-inline: 2rem;
  padding-block: 4rem;
  text-align: center;
}
.iconPosition i {
  font-size: 3rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content .button {
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.submitButton{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--gray-300);
  border-radius: 20px;
  transition: 500ms;
}

.submitButton:hover{
  background-color: #007bff;
  color: var(--gray-50);
  gap: 1.5rem;
}

.submitButton:hover svg, .x:hover svg{
  fill: var(--gray-50);
}

@media screen and (min-width: 900px) {
  .container {
      width: 60rem;
  }

  .title {
      width: 60rem;
  }

  .title i {
      top: 5rem;
      right: 27rem;
      font-size: 3rem;
  }

  .title i:hover {
      cursor: pointer;
  }

  .iconPosition i {
      font-size: 5rem;
  }

  .icon {
      width: 28.4rem;
      height: 27rem;
      transition: .5s;
  }

  .icon h1 {
      font-size: 3rem;
  }

  .icon p {
      font-size: 1.6rem;
  }

  .icon1:hover {
      background-color: #09dd37;
  }

  .icon2:hover {
      background-color: #007bff;
  }
}
