.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container h1 {
  font-size: var(--3xl);
  color: var(--rich-black);
}

.container p {
  font-size: var(--xl);
  color: var(--gray-600);
}

.container button{
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 40px;
}
.container button p{
  color: var(--gray-50);
  font-weight: 600;
  font-size: 1.6rem;
  transform: perspective();
}

.container button:hover p{
  animation: shake 300ms ease;
}

/* Media Queries */
@media (max-width: 768px) {
   h1 {
      font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2rem;
  }

}

@keyframes shake {
  0%{
    transform: translateY(-1.3rem);
  }
  50%{
    transform: translateY(1rem);
  }
  100%{
    transform: translateY(0);
  }

}