.container {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    background-color: var(--gray-50);
    display: flex;
    gap: 12px;
    background-color: #fff;
}

.accountContainer {
    display: flex;
    align-items: center;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    border: 1px solid #ccc;
    background: var(--gray-50);
    border-radius: 100px;
    padding: 0 12px;
    text-align: start;
    cursor: pointer;
    overflow: hidden;
}
.button::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: translateX(-100vw);
    transition: 300ms;
}

.button div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: var(--gray-600);
    transition: 300ms;
}
.button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    background-color: var(--gray-300);
    border-radius: 20px;
    transition: 300ms;
}
.button .icon svg{
    transition: 300ms;
    fill: var(--gray-600);
}

.button:hover .icon{
    background-color: var(--gray-50);
}
.button:hover .icon svg{
    fill: var(--primary-color);
}

.button:hover div{
    color: var(--gray-50);
}

.button:hover::before{
    transform: translateX(0);
}

.preview{
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    scrollbar-width: thin;
}

.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerModal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 7, 18, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    background-color: var(--gray-200);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px 28px;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-900);
}

.head strong {
    font-weight: 600;
    font-size: var(--2xl);
}

.head button {
    cursor: pointer;
}

.textarea {
    width: 100%;
    height: 100px;
    background-color: transparent;
    color: var(--gray-700);
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    outline: none;
    resize: none;
    font-family: Roboto, sans-serif;
}

.footer {
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.buttonSecondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--gray-400);
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonSecondary:hover {
    background-color: var(--gray-500);
  }

.buttonPrimary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonPrimary:hover {
    background-color: #0056b3;
  }