.searchContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--gray-200);
  border-radius: 100px;
  padding: 1rem;
}


.searchInput {
  width: 100%;
  padding: 8px;
  font-size: 1.4rem;
  border: none;
  background-color: var(--gray-200);
  border-radius: 0.8rem;
  outline: none;
}

.x {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 500ms;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
  max-width: 12rem;
  width: 3.5rem;
  background-color: var(--gray-300);
}

.x svg{
  fill: var(--gray-600);
  transition: 300ms;
}

.x:hover{
  background-color: var(--primary-color);
  width: 12rem;
}

.x:hover svg{
  fill: var(--gray-50);
}
.x::after{
  position: absolute;
  content: 'Buscar';
  transform: translate(10vw);
  transition: all 500ms;
  right: 2rem;
}

.x:hover::after{
  transform: translate(0);
  color: var(--gray-50);
}