/* style.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex: 3;
}

.pageContainer{
  display: flex;
  justify-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

.pageContainer aside{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 10rem;
  max-height: 97dvh;
  background-color: var(--gray-200);
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
  flex: 1;
  overflow: auto;
}

.pageContainer aside h1{
  font-size: 2rem;
  font-weight: 900;
  opacity: .8;
  color: var(--rich-black);
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.links {
  margin-left: 5rem;
  color: var(--gray-950);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
}

.links .item {
  display: flex;
  color: var(--rich-black);
  font-weight: 600;
  font-size: var(--base);
  transition: 500ms;
  align-items: center;
  gap: 1rem;
}
.item img{
  width: 2.5rem;
}

.links .item:hover {
  color: var(--primary-color);
}
.item svg{
  fill: var(--rich-black);
  transition: 300ms;
}

.item:hover svg{
  fill: var(--primary-color);
}

.links .alert:hover{
  color: var(--error-light);
}
.links .alert:hover svg{
  fill: var(--error-light);
}

.logoContainer img{
  min-width: 15rem;
  width: 100%;
}

.accountContainer{
  min-width: 25rem;
  max-width: 34rem;
  display: flex;
  justify-content: space-around;
  padding: .8rem 1rem;
  gap: 1rem;
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 100px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.createPostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}


.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--error);
  cursor: pointer;
  border-radius: 100%;
  transition: 500ms;
}
.logoutBtn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoutBtn:hover{
  background: var(--error-light);
}

.logoutBtn:hover img{
  animation: shake 500ms ease;
}

@keyframes shake{
  0%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-15deg);
  }
  10%{
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 900px) {
  .navbar {
      padding: 1rem 5rem;
  }

  .searchContainer {
      padding: 2rem 5rem;
  }

  .feedContainer {
      padding: 2rem 5rem;
  }
}
